OPENAI_API_TYPE = "azure"
OPENAI_API_KEY = "<YOUR AZURE OPENAI API KEY>"
OPENAI_API_BASE = "<YOUR AZURE OPENAI ENDPOINT"
OPENAI_API_VERSION = "2023-03-15-preview"
OPENAI_COMPLETION_MODEL = "<YOUR OPENAI COMPLETIONS MODEL NAME>" # e.g. "gpt-35-turbo"
AZURE_OPENAI_COMPLETION_DEPLOYMENT_NAME = "<YOUR AZURE OPENAI COMPLETIONS DEPLOYMENT NAME>" # e.g. "gpt-35-turbo"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME = "<YOUR AZURE OPENAI EMBEDDINGS DEPLOYMENT NAME>" # e.g. "text-embedding-ada-002"