OPENAI_API_BASE=""
OPENAI_API_TYPE="azure"
OPENAI_API_VERSION=""
OPENAI_COMPLETION_MODEL=""
OPENAI_API_KEY=""
AZURE_OPENAI_COMPLETION_DEPLOYMENT_NAME=""
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=""
AZURE_OPENAI_DEPLOYMENT_NAME=""
