azure-core==1.30.2
azure-identity==1.17.0
azure-search-documents==11.5.1 #11.4.0
semantic-kernel==1.8.3 #0.9.5b1
openai==1.44.0
langchain==0.2.16
langchain-openai==0.1.23
tiktoken==0.7.0
python-dotenv==1.0.1
requests==2.32.3
unstructured==0.15.9
markdown==3.7
qdrant-client==1.11.1
chromadb==0.5.5
yfinance==0.2.43
langchain-community==0.2.16
pymongo==4.8.0
ijson==3.3.0